<html>
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/application.css" th:href="@{/css/application.css}"/>

</head>
<body>
<form action="#" th:action="@{/ride}" th:object="${offerARideForm}"
      method="post">
    <table>
        <tr>
            <td>User:</td>
            <td><input type="number" th:field="*{userId}"/>
            </td>
            <td th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"/>
        </tr>
        <tr>
            <td>Jour de départ:</td>
            <td><input type="date" th:field="*{startDate}"/></td>
            <td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"/>
        </tr>
        <tr>
            <td>Horaire de départ:</td>
            <td><input type="number" th:field="*{startHours}"/></td>
            <td><input type="number" th:field="*{startMinutes}"/></td>
            <td th:if="${#fields.hasErrors('startHours')}" th:errors="*{startHours}"/>
            <td th:if="${#fields.hasErrors('startMinutes')}" th:errors="*{startMinutes}"/>
        </tr>
        <tr>
            <td>
                <button type="submit">Proposer un trajet</button>
            </td>
        </tr>
    </table>
    <div th:text="${message}" class="message-info"></div>
</form>
</body>
</html>