<html>
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/application.css" th:href="@{/css/application.css}" />

</head>
<body>
<form action="#" th:action="@{/}" th:object="${userCreationForm}"
      method="post">
    <table>
        <tr>
            <td>Login:</td>
            <td><input type="text" th:field="*{login}"
                       th:classappend="${#fields.hasErrors('login') || duplicateLoginError != null} ? error : good "/>
            </td>
            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}"/>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? error : good "/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </tr>
        <tr>
            <td>
                <button type="submit">Sign up!</button>
            </td>
        </tr>
    </table>
    <div th:text="${duplicateLoginError}"></div>
</form>
</body>
</html>